<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example - Build Static Page</title>
  <link rel="stylesheet" href="./src/styles/home.less">
  <link rel="stylesheet" href="./src/styles/home.less">
  <link rel="stylesheet" href="./src/styles/../styles/home.less">
  <%- include('fragments/env.fragment.html') -%>
</head>
<body>
  <%- include('fragments/header.fragment.html') -%>
  <div class="page-home">
    <h1>Build Static Page Example</h1>
    <p>This is an example of the usage of <code>build-static-page</code>.</p>
  </div>
</body>
</html>
